<nav>
  <div class="logo">
    <a href="/projects">
      <img src="../assets/logo.png" />
      <p>Exterminator</p>
    </a>
  </div>
  <div class="nav-links">
    <a class="nav-item unselectable" href="/login-signup">Login/Sign Up</a>
    <a class="nav-item unselectable" href="/create-project">Create Project</a>
    <a class="nav-item unselectable" href="/projects/my-projects">My Projects</a>
    <a class="nav-item unselectable" href="/my-account">My Account</a>
  </div>
</nav>

<section id="main-content">
  <router-outlet></router-outlet>
</section>