<div id="project-content">
  <section id="project-bugs">
    <div class="clearfix">
      <button id="new-bug-button">Open New Bug</button>
    </div>

    <table>
      <tr>
        <th>Bug Id</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Date Opened</th>
        <th>Last Updated</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>14532</td>
        <td>Crash when launching</td>
        <td>JHalpert2</td>
        <td>Jul 7th, 2021</td>
        <td>Jul 8th, 2021</td>
        <td>Open</td>
      </tr>
      <tr>
        <td>14532</td>
        <td>Crash when launching</td>
        <td>JHalpert2</td>
        <td>Jul 7th, 2021</td>
        <td>Jul 8th, 2021</td>
        <td>Open</td>
      </tr>
      <tr>
        <td>14532</td>
        <td>Crash when launching</td>
        <td>JHalpert2</td>
        <td>Jul 7th, 2021</td>
        <td>Jul 8th, 2021</td>
        <td>Open</td>
      </tr>
      <tr>
        <td>14532</td>
        <td>Crash when launching</td>
        <td>JHalpert2</td>
        <td>Jul 7th, 2021</td>
        <td>Jul 8th, 2021</td>
        <td>Open</td>
      </tr>
      <tr>
        <td>14532</td>
        <td>Crash when launching</td>
        <td>JHalpert2</td>
        <td>Jul 7th, 2021</td>
        <td>Jul 8th, 2021</td>
        <td>Open</td>
      </tr>
    </table>
  </section>
  <section id="project-summary">
    <h1>Soul Game Engine</h1>
    <p>Open Bugs: 87</p>
    <p>Bugs Fixed Next Update: 12</p>
    <p>Closed Bugs: 155</p>
    <p>Last Updated: July 7th, 2021</p>
    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
  </section>
</div>